<script>
export default {
    emits: ['saveForm'],
    data() {
        return {
            formData : {
                name : null,
                description : null,
            }
        }
    },
    methods : {
        submit(event) {
            event.preventDefault()
            this.$emit('saveForm', this.formData)
            this.formData = {}
        },
        clear(event) {
            event.preventDefault()
            this.formData = {}
        }
    }
}
</script>

<template>
    <form v-on:submit="submit" class="task-form" onsubmit="false">
        <div class="segment">
            <label for="task">Task Name</label>
            <input type="test" name="task" v-model="formData.name"/>
        </div>
        <div class="segment">
            <label for="description">Task Description</label>
            <input type="text" name="description" v-model="formData.description">
        </div>
        <div class="segment">
            <input type="submit" />
            <button type="reset" @click="clear">Clear</button>
        </div>
    </form>
</template>


<style scoped>
.task-form {
    display: flex;
    flex-direction: row;
}
.task-form > .segment {
    padding: 5px;
}

.task-form > .segment > label {
    padding-right : 4px;
}
</style>