<template>
<div class="task-item" :class="{ done : !!task.done}">
    <div>
        <strong>Task:</strong>
        {{task.name}} ({{task.createdAt}})
    </div>
    <div>
        {{task.description}}

    </div>
    <div>
        <button @click="deleteTask">Delete</button>
        <button @click='toggleDone'>{{ task.done ? 'Redo' : 'Done' }}</button>
    </div>
</div>
</template>

<script>

export default {
    emits : ['delete', 'update'],
    data(){
        return {
            name : {
                updating : false,
                value : this.task.name
            },
            description : {
                updating : false,
                value : this.task.description
            }
        }
    },
    methods : {
        deleteTask() {
            this.$emit('delete', this.task)
        },
        toggleDone() {
            this.$emit('update', {
                ...this.task,
                done : !this.task.done
            });
        },
    },
    props : {
        task : {
            type : Object,
            default() {
                return {}
            }
        }
    }
}

</script>

<style scoped>
.task-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.task-item > div {
    width: 33%;
    align-self: center;
}
.task-item div:last-child {
    text-align: right;
}

.done {
    text-decoration: line-through;
}
</style>