<script setup>
import TaskForm from "./components/TaskForm.vue";
import TaskItem from "./components/TaskItem.vue";
import store from './stores/task-store'
store.loadAll()
</script>

<script>
</script>

<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />
    <div class="wrapper">
      <TaskForm  @saveForm="data => store.save(data)"/>
    </div>
  </header>
  <main>

    <div v-if="store.loading">
      Loading
    </div>
    <div v-else>
      <TaskItem v-for="task in store.tasks" :task="task" :key="task.id" @delete="task => store.delete(task)" @update="task => store.update(task)" />
      <p v-if="!store.tasks.length">
        Empty
      </p>
    </div>
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header * {
    text-align: center;
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
